
.rideAppVBox {
  padding: 1rem;
  gap: 1rem;
}

.rideFormPanel {
  margin-top: 2rem;
}

.rideFormGrid .sapMLabel {
  margin-top: 0.5rem;
}

.rideFormGrid .sapMInput {
  width: 100%;
}
.headerLogo{
 position: absolute;
  left: 0;
  margin-left: 1rem;
  
  height: 250px;
  width: 358px;
}

.mainContent {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
}



#rideTable {

  overflow-x: auto;
  width: 100%;

}
.searchBarContainer {
  margin-top: 1.5rem;
 
}
@media only screen and (max-width: 600px) {
  .rideAppVBox {
    padding: 0.5rem;
  }

  .rideFormGrid .sapMLabel,
  .rideFormGrid .sapMInput {
    font-size: 0.9rem;
  }

  .rideFormGrid Button {
    width: 100%;
  }

  .sapMTableTBody > tr > td {
    white-space: nowrap;
  }
    .rideFormPanel {
    margin: 1rem !important;
  }
}

